.sidebar-container {
    width: 300px;
    padding: 20px;
    background-color: #e8e9ec;
    border-left: 2px solid #dfdcdc;
    overflow-y: scroll;
  }
  
  .component {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-bubble{
    background-color: #ffffff;
    border-radius: 10px;
  }